@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.contact {
  position: absolute;
  height: 50px;
  width: 400px;
  top: 100%;
  background: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}
.contact__site {
  background: rgb(0, 0, 0);
  height: 25px;
  width: 25px;
  transition: all 0.2s;
}
.contact__site:hover {
  transform: scale(1.2);
}
.contact__site--git {
  -webkit-mask-image: url(../SVG/github.svg);
  mask-image: url(../SVG/github.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
}
.contact__site--in {
  -webkit-mask-image: url(../SVG/linkedin.svg);
  mask-image: url(../SVG/linkedin.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
}
.contact__site--pen {
  -webkit-mask-image: url(../SVG/codepen.svg);
  mask-image: url(../SVG/codepen.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
}
.contact__site--mail {
  -webkit-mask-image: url(../SVG/mail.svg);
  mask-image: url(../SVG/mail.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #3589af;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: visible;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  box-shadow: 0px 4px 16px 10px rgba(0, 0, 0, 0.15);
  background: white;
  border-radius: 5px;
  overflow: hidden;
}
.center__headingContainer {
  background: rgb(230, 172, 86);
  height: 60px;
  color: white;
  display: grid;
  grid-template-columns: 150px 100px;
  align-content: center;
  justify-content: space-between;
}
.center__headingContainer .heading {
  order: 0;
  place-self: center flex-start;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.center__headingContainer .date {
  order: 2;
  place-self: center flex-start;
  padding-left: 15px;
  font-size: 10px;
}
.center__headingContainer .revenue {
  order: 1;
  place-self: center flex-end;
  padding-right: 15px;
  font-size: 10px;
}
.center__headingContainer .earning {
  order: 3;
  place-self: center flex-end;
  padding-right: 15px;
  font-weight: 600;
  font-size: 14px;
}
.center__list {
  list-style: none;
  display: flex;
  height: 20px;
  justify-content: right;
  align-items: flex-end;
  font-size: 9px;
}
.center__list li {
  position: relative;
}
.center__list li::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 10px;
  left: -25px;
  top: 47%;
  border-radius: 10px;
}
.center__list .views {
  margin-right: 60px;
}
.center__list .views::before {
  background: #cf4b89;
}
.center__list .purchases {
  margin-right: 15px;
}
.center__list .purchases::before {
  background: #3589af;
}
.center__weekContainer {
  margin: 0 7px;
  padding-bottom: 10px;
  height: 110px;
  font-size: 9px;
  color: gray;
  text-transform: uppercase;
  position: relative;
  display: grid;
  align-content: flex-end;
  place-items: center;
  grid-template-columns: repeat(7, 1fr);
}
.center__weekContainer--graph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 100%;
}
.center__weekContainer--graph-line {
  position: absolute;
  left: 0;
  height: 0.1px;
  width: 100%;
  background: rgba(128, 128, 128, 0.2);
}
.center__weekContainer--graph-line1 {
  top: 0%;
}
.center__weekContainer--graph-line2 {
  top: 38%;
}
.center__weekContainer--graph-line3 {
  top: 73%;
}
.center__weekContainer--graph-dot {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.center__weekContainer--graph-dotRead {
  background: #cf4b89;
}
.center__weekContainer--graph-dotRead_1 {
  top: 40%;
}
.center__weekContainer--graph-dotRead_1::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "443";
  background: #cf4b89;
}
.center__weekContainer--graph-dotRead_1:hover::after, .center__weekContainer--graph-dotRead_1:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotRead_2 {
  top: 20%;
}
.center__weekContainer--graph-dotRead_2::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "513";
  background: #cf4b89;
}
.center__weekContainer--graph-dotRead_2:hover::after, .center__weekContainer--graph-dotRead_2:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotRead_3 {
  top: 7%;
}
.center__weekContainer--graph-dotRead_3::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "550";
  background: #cf4b89;
}
.center__weekContainer--graph-dotRead_3:hover::after, .center__weekContainer--graph-dotRead_3:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotRead_4 {
  top: 15%;
}
.center__weekContainer--graph-dotRead_4::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "520";
  background: #cf4b89;
}
.center__weekContainer--graph-dotRead_4:hover::after, .center__weekContainer--graph-dotRead_4:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotRead_5 {
  top: 30%;
}
.center__weekContainer--graph-dotRead_5::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "480";
  background: #cf4b89;
}
.center__weekContainer--graph-dotRead_5:hover::after, .center__weekContainer--graph-dotRead_5:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotRead_6 {
  top: 35%;
}
.center__weekContainer--graph-dotRead_6::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "450";
  background: #cf4b89;
}
.center__weekContainer--graph-dotRead_6:hover::after, .center__weekContainer--graph-dotRead_6:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotRead_7 {
  top: 25%;
}
.center__weekContainer--graph-dotRead_7::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "485";
  background: #cf4b89;
}
.center__weekContainer--graph-dotRead_7:hover::after, .center__weekContainer--graph-dotRead_7:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotBlue {
  background: #3589af;
}
.center__weekContainer--graph-dotBlue_1 {
  top: 60%;
}
.center__weekContainer--graph-dotBlue_1::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "20";
  background: #3589af;
}
.center__weekContainer--graph-dotBlue_1:hover::after, .center__weekContainer--graph-dotBlue_1:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotBlue_2 {
  top: 55%;
}
.center__weekContainer--graph-dotBlue_2::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "23";
  background: #3589af;
}
.center__weekContainer--graph-dotBlue_2:hover::after, .center__weekContainer--graph-dotBlue_2:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotBlue_3 {
  top: 40%;
}
.center__weekContainer--graph-dotBlue_3::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "47";
  background: #3589af;
}
.center__weekContainer--graph-dotBlue_3:hover::after, .center__weekContainer--graph-dotBlue_3:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotBlue_4 {
  top: 50%;
}
.center__weekContainer--graph-dotBlue_4::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "35";
  background: #3589af;
}
.center__weekContainer--graph-dotBlue_4:hover::after, .center__weekContainer--graph-dotBlue_4:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotBlue_5 {
  top: 45%;
}
.center__weekContainer--graph-dotBlue_5::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "40";
  background: #3589af;
}
.center__weekContainer--graph-dotBlue_5:hover::after, .center__weekContainer--graph-dotBlue_5:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotBlue_6 {
  top: 63%;
}
.center__weekContainer--graph-dotBlue_6::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "20";
  background: #3589af;
}
.center__weekContainer--graph-dotBlue_6:hover::after, .center__weekContainer--graph-dotBlue_6:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotBlue_7 {
  top: 53%;
}
.center__weekContainer--graph-dotBlue_7::after {
  text-align: center;
  padding-top: 3px;
  color: white;
  display: block;
  position: absolute;
  top: -100%;
  left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  cursor: default;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 81%, 49% 100%, 37% 80%, 0% 75%);
  transition: all 0.3s;
  content: "33";
  background: #3589af;
}
.center__weekContainer--graph-dotBlue_7:hover::after, .center__weekContainer--graph-dotBlue_7:active::after {
  visibility: visible;
  opacity: 1;
  top: -300%;
}
.center__weekContainer--graph-dotMON {
  left: 4%;
}
.center__weekContainer--graph-dotTUE {
  left: 19%;
}
.center__weekContainer--graph-dotWED {
  left: 34%;
}
.center__weekContainer--graph-dotTHU {
  left: 48%;
}
.center__weekContainer--graph-dotFRI {
  left: 63%;
}
.center__weekContainer--graph-dotSAT {
  left: 79%;
}
.center__weekContainer--graph-dotSUN {
  left: 94%;
}
.center__weekContainer--graph svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.center__weekContainer--graph svg .lineSetV {
  stroke: #cf4b89;
  stroke-width: 2;
}
.center__weekContainer--graph svg .lineSetR {
  stroke: #3589af;
  stroke-width: 2;
}

/*# sourceMappingURL=style.css.map */
